@import '../common/width';
@import '../common/basic';

@mixin thumbnail(){
	font-size: 2em;
	width: 100%;
	text-align: center;
	color: #fff;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	display: block;
}
$thumbnail-height: 405px;
.thumbnail {
	height: $thumbnail-height;
	border: none;

	img {
		height: $thumbnail-height;
		border: 1px solid black;
	}
	figcaption {
		text-align: center;
		margin-top: -45px;
		font-size: 3em;
		color: #fff;
		text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
	}
}

.panel-container {
	transition: all 1s ease;
}
.detail-summary {
	text-align: justify
}
.detail-info {
	border-top: 1px dashed black;
	margin-top: 15px;
}
.detail-cast {
	border-top: 1px dashed black;
	margin-top: 15px;
}
