<div class="container-fluid" ng-controller="SearchController as ctrl">
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-sm-offset-3">
			<div class="input-group">
				<input on-enter="ctrl.search()" type="text" class="form-control" ng-model="ctrl.searchParam" placeholder="Search by title, director or actor/actress ...">
				<label class="input-group-addon" ng-click="ctrl.search()" >
					GO!
				</label>
			</div>
		</div>
	</div>
	<div ng-if="ctrl.errCount === 3" class="alert alert-warning" role="alert">
		<strong>Ops!</strong> Não encontramos nenhum filme com este parâmetro.
	</div>
	<movie-list movies="ctrl.result"></movie-list>
</div>
