<link href="search.min.css" rel="stylesheet">
<div class="container-fluid" ng-controller="SearchController as ctrl">
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-sm-offset-3">
			<div class="input-group">
				<input on-enter="ctrl.search()" type="text" class="form-control" ng-model="ctrl.searchParam" placeholder="Search by title, director or actor/actress ...">
				<label class="input-group-addon" ng-click="ctrl.search()" >
					GO!
				</label>
			</div>
		</div>
	</div>
	<div class="row" search-detail="ctrl.detail" show="ctrl.show" index="ctrl.index">
		<div ng-repeat="obj in ctrl.result">
			<figure class="col-xs-12 col-sm-6 col-md-4 col-lg-3 thumbnail">
				<img ng-src="{{ obj.poster }}" alt="{{ obj.show_title }}">
				<figcaption><span ng-click="ctrl.showMore($index)" class="glyphicon glyphicon-chevron-down"></span></figcaption>
			</figure>
		</div>
	</div>
</div>
