@import '../common/width';
@import '../common/basic';

@mixin thumbnail(){
	font-size: 2em;
	width: 100%;
	text-align: center;
	color: #fff;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	display: block;
}
$thumbnail-height: 405px;
.thumbnail {
	height: $thumbnail-height;
	border: none;

	img {
		height: $thumbnail-height;
	}
	figcaption {
		margin-top: -45px;
		text-align: center;
		color: #fff;
		text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
		.glyphicon {
			font-size: 3em;
		}
		.movie-title {
			margin-top: -100px;
			font-size: 1.5em;
		}
	}
}