$phone-size-1: 370px;
$phone-size-2: 483px;
$phone-size-3: 554px;
$phone-size-4: 622px;
$phone-size-5: 691px;
$tablet-size-1: 750px;
$tablet-size-2: 768px;
$tablet-size-3: 814px;
$computer-size-1: 992px;
$computer-size-2: 1163px;
$sidebar-width: 150px;
$header-height: 50px;
$margin-left-1: -30px;
$margin-left-2: 10px;